
.result-ul {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  list-style: none;
  padding: 0;
}

.img-wrap {
  max-width: 370px;
  max-height: 250px;
  overflow: hidden;
}

