@import '../../styles/variables.css';

.mylist-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 500px) {

  .user-flex {
    display: flex;
    justify-content: space-between;
  }

}