@import '../../styles/variables.css';

.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

.maxwidth-wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#header {
  grid-area: header;
  padding: 1rem;
  text-align: center;
  position: relative;
  /* background-color: $green; */
}

#main {
  grid-area: content;
  text-align: center;
  background-image: linear-gradient(90deg, #f5f5f5 100%, #dbdbdb 0%);
  background-size: cover;
}

#footer {
  grid-area: footer;
  padding: 1.5rem;
  text-align: center;
}

.head-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  
  li {
    list-style-type: none;
    padding: 0 0 0 1rem;

    a {
      text-decoration: none;
      color: $black;
      transition: 0.3s ease all;
      padding: 0 0 3px;
      border-bottom: 3px solid $white;
    }
    
    a:hover {
      color: $black;
      border-bottom: 3px solid $gray;
    }
  }
}

.main-container {
  text-align: left;
  padding: 2rem 0;
}

.footer {
  text-align: left;
  color: $gray;
  
}

/* ----- Media Queries ----- */

@media (min-width: 200px) {
  .logo {
    font-size: 1.3rem;
    padding: 7px 0 0;
    color: $black;
  }

  .no-line {
    border-bottom: 0px;

    &:hover {
      border-bottom: 0px;
    }
  }

  .footer {
    text-align: center;
    /* margin: 1rem 0; */

    p {
      line-height: 5px;
    }
  }
  
}

@media (min-width: 550px) {
  #header {
    padding: 2rem;
  }

  .logo {
    font-size: 2rem;
    transition: 0.3s ease all;

    &:hover {
      color: $gray;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .nav-ul{
    display: flex;
  }

  .checkbox {
    display: none;
  }
}

/* ----- Burger Media Query ----- */

@media (max-width: 550px) {

  #main-menu {
    position: absolute;
    transform: translate(0, -100%);
    transform-origin: 0 0;
    opacity: 0;
    z-index: 6;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  #burger span {
    position: absolute;
    display: block;
    background-color: $darkgray;
    width: 25px;
    height: 3px;
    top: 1.5rem;
    right: 1rem;
    z-index: 10;
    transition: 0.3s ease all;
    border-radius: 5px;
    &:nth-child(1) {transform: translate(0, 0px);}
    &:nth-child(2) {transform: translate(0, 8px);}
    &:nth-child(3) {transform: translate(0, 16px);}
  }
  
  input.checkbox {
    display: block;
    z-index: 100;
    position: absolute;
    transform: scale(4, 3);
    top: 1.5rem;
    right: 1rem;
    opacity: 0;
    cursor: pointer;
    width: 25px;
  }
  
  input:checked ~ #burger span {
    transition: 0.3s ease all;
    &:nth-child(1) {
      transform: rotate(45deg) translate(10px, 10px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
  }
  
  input:checked ~ #main-menu {
    opacity: 1;
    transform: none;
    transition: 0.5s ease all;
  }
  
  input:checked + #main {
    background-color: rgba(0,0,0,0.5);
  }

}