@import '../../styles/variables.css';

.body-padding {
  padding: 0 1rem;
}

.search-padding {
  padding: 5rem 1rem;
}

.search-image {
  background-image: url('http://res.cloudinary.com/dph3nw8ym/image/upload/c_scale,q_auto:eco,w_2351/v1521779101/cater-yang-243349-unsplash-crop_gmxgtd.jpg');
  background-size: cover;
  background-position: bottom;
}

@media (min-width: 600px) {
  .search-container {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }

  .body-padding {
    padding: 0 2rem;
  }
}

@media (min-width: 1250px) {
  .body-padding {
    padding: 0;
  }
}